#container{
    border-top: 2px solid black;
    border-right: 1px solid black;
}

#Giris{
    margin-left: 75px;
}
#Deneyim1{
    margin-left: 79px;
}
#Deneyim2{
    margin-left: 191px;
}
#Deneyim3{
    margin-left: 191px;
}
#Deneyim4{
    margin-left: 191px;
}
#programlama_dilleri{
    margin-left: 55px;
}