* {
  box-sizing: border-box;
  border: 5px;
  font-family: sans-serif;
}
body {
  color: white;

  background: rgb(0, 9, 30);
  background: linear-gradient(
    0deg,
    rgba(0, 9, 30, 1) 0%,
    rgba(220, 110, 94, 1) 0%,
    rgba(253, 116, 23, 1) 100%
  );
}
.div_bir {
  /* background-color: beige; */
  text-align: center;
  line-height: 150px;
}
.div_iki {
  /* background-color: aqua; */
  text-align: center;
  line-height: 150px;
}
.div_uc {
  /* background-color: cornsilk; */
  text-align: center;
  line-height: 150px;
}
#par11 {
  border-style: none;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par12 {
  border-style: dotted;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par13 {
  border-style: dashed;
  width: 200px;
  height: 150px;
  display: inline-block;
  /* margin-left: 50px; */
  margin: 10px 30px;
}
#par14 {
  border-style: solid;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par15 {
  border-style: double;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par16 {
  border-style: groove;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par17 {
  border-style: ridge;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par18 {
  border-style: inset;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
#par19 {
  border-style: outset;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px 30px;
}
